@media only screen and (max-width : 1024px) {
    nav, nav select  {
        display: none;
    }

    .menuHamburger {
        display: flex;
    }


    .HomeH1 {
        display: flex;
    }

    .HomeIMGResponsive {
        display: flex;
    }

    .HomeIMG {
        display: none;
    }

    .credit,.copyright {
        text-align: left;
        float: left;
        font-size: 49px;
    }
}


