@media only screen and (max-width : 1024px) {
    nav li a{
        /*display: none;*/
        font-size: 49px;
    }

    nav select {
        font-size: 49px;
        width: 215px ;
    }

    /*.menuHamburger {*/
    /*    display: flex;*/
    /*}*/

    .HomeH1 {
        /*display: flex;*/
    }

    .HomeIMGResponsive {
        display: flex;
    }

    .HomeIMG {
        display: none;
    }

    .credit,.copyright {
        text-align: left;
        float: left;
        font-size: 49px;
    }
}


