@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #111111;
}

.menuHamburger {
    display: none;
    width: 150px;
    height: 150px;
    float: right;
    padding: 10px;
}

nav {
    margin-top: 54px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    text-align: center;
    margin: 0 58px;
}

nav li a {
    font-size: 29px;
    color: #ffffff;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

nav li a:hover {
    opacity: 0.8;
}

nav select {
    font-size: 29px;
    color: #ffffff;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    border: none;
    width: 135px;
    padding-left: 15px;
    cursor: pointer;
    background-color: #111111;
}

/* HOME */

.HomeH1 {
    display: none;
    position: absolute;
    font-size: 35px;
    float: left;
    color: #FFF;
    text-align: center;
    font-family: Poppins, sans-serif;
    margin-left: 58px;
    margin-top: 54px;
    margin-bottom: 54px;
}

.HomeIMGResponsive {
    border-radius: 10px 15px 10px 15px;
    width: 100%;
    display: none;
}

.HomeIMG {
    border-radius: 10px 15px 10px 15px;
    width: 100%;
}

/*  NatureImgNormal  */

.NatureImgNormalSection {
    margin-top: 54px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    overflow-x: hidden;
}

.NatureImgNormalSection2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    overflow-x: hidden;
}

.grid-item {
    object-fit: cover;
    margin-right: 10px;
    border-radius: 25px;
    width: 310px;
    height: 532px;
    transition: 1.5s all;
}

.grid-item:hover {
    cursor: pointer;
    object-fit: cover;
    width: 400px;
    height: 532px;
}

/*  PortraitImgNormal  */

.PortraitImgNormalSection {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    max-height: 1000px;
    min-width: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    overflow-x: hidden;
}

.grid-item {
    object-fit: cover;
    margin-right: 10px;
    border-radius: 25px;
    width: 310px;
    height: 532px;
    transition: 1.5s all;
}

.grid-item:hover {
    cursor: pointer;
    object-fit: cover;
    width: 400px;
    height: 532px;
}

/*  popup   */

#popup-bg {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    align-items: center;
    justify-content: center;
}

#popup-bg.active {
    display: flex;
}

#popup-content {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#popup-img {
    width: 75%;
    height: auto;
    border-radius: 5px 20px 5px 5px;
}

/*  Credit  */

.credit {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

.credit a {
    font-weight: bold;
    color: orange;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

.credit a:hover {
    text-decoration: underline;
    font-weight: normal;
}

/*  copyright   */

.copyright {
    font-size: small;
    text-align: right;
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

.copyright a {
    font-weight: bold;
    color: orange;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

.copyright a:hover {
    text-decoration: underline;
    font-weight: normal;
}